<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBnB Evolution</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="container flex-container">
            <a href="/"><img class="logo" src="../static/images/logo.svg" alt="HBnB Evolution"></a>
            <nav class="navigation-nav">
                <ul>
                    <li><a class="button" href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container container-narrow">
            <div class="section-header">
                <h1>Seaside Serenity Cottage</h1>
            </div>
            <section id="place-detail">
                <article class="place-card">
                    <div class="place-price">
                        <p>$80 <br><small>per night</small></p>
                    </div>
                    <img src="../static/images/places/01/Firefly Seaside Serenity Cottage interior 36190.jpg" alt="">
                    <div class="card-body">
                        <div class="place-host">
                            <img class="avatar" src="../static/images/avatars/pic-person-03.jpg" alt="avatar">
                            <p>Hosted by <strong>Pablo</strong><br><small>since 21/02/2000</small></p>
                        </div>
                        <div class="col-2">
                            <div>
                                <h2>Description</h2>
                                <p>Relax in our charming seaside cottage with stunning ocean views and tranquil sunsets. Perfect for a peaceful getaway.</p>
                            </div>
                            <div class="card-info">
                                <h2>Amenities</h2>

                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section id="place-reviews">
                <div class="subsection-header flex-container">
                    <h2>Reviews</h2>
                    <div class="flex-container">
                        <div class="review-avg"><img class="star-icon" src="../static/images/star.svg" alt="star"><p>4.3 / 2 reviews</p></div>
                    </div>
                </div>
                <div class="review-list">
                    <article class="review-card">
                        <div class="review-header">
                            <img class="avatar" src="../static/images/avatars/pic-person-03.jpg" alt="avatar">
                            <div>
                                <p><strong>John</strong><br>
                                <small>estrellas y fecha</small></p>
                            </div>
                        </div>
                        <p class="review-text">A solid choice for a comfortable stay. The location was good, and the overall experience was positive. I'd recommend it.</p>
                    </article>
                    <article class="review-card">
                        <div class="review-header">
                            <img class="avatar" src="../static/images/avatars/pic-person-03.jpg" alt="avatar">
                            <div>
                                <p><strong>John</strong><br>
                                <small>estrellas y fecha</small></p>
                            </div>
                        </div>
                        <p class="review-text">A solid choice for a comfortable stay. The location was good, and the overall experience was positive. I'd recommend it.</p>
                    </article>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>© 2025 HBnB Evolution. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>