@import url("root.css");

.review-card{
    padding: 20px;
    border-radius: 10px;
}

.place-description p{
    line-height: 1.5rem;
}

.place-amenities {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.amenity {
    border: solid 1px #ddd;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.amenity img {
    border: 0;
    height: 20px;
    width: auto;
}

.place-footer {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: solid 1px #ddd;
}

.reviews-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.review-list {
    display: block;
}

.review-card:nth-child(odd) {
    background-color: #f9f9f9;
}

.place-host, .review-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.place-host {
    margin-top: 10px;
}

.reviewer p{
    margin-bottom: 12px;
    line-height: 0;
}

.reviewer-stars {
    display: inline-flex;
    align-items: center;
    gap:3px;
}

.reviewer-stars p {
    margin: 0;
}

img.stars {
    height: 12px;
    width: auto;
}

.review-text{
    margin-left: 70px;
}

.columns {
    position:relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.col-left {
    flex: 1;
}

.col-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-padding {
    padding-top: 40px;
}

@media screen and (width >= 54rem) {
    .place-card-columns {
        flex-direction: row;
    }
}

@media screen and (width >= 79rem) {
    .columns {
        flex-direction: row;
    }

    .col-right {
        width: 40%;
    }

    .review-list {
        display: block;
        overflow-y: auto;
        position: absolute;
        top:70px;
        bottom: 0;
        padding: 20px;
        border:solid 1px #ddd;
        border-radius: 10px;
    }

    .review-list::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
    }
} 